<section class="historia container">
    <div class="historia__container">
        <img src="assets/img/Logo.png" class="instructor__img">

        <p class="historia__paragraph">CAFEPAS S.A.S es una empresa Vallecaucana con mas de 40 años de experiencia en la
            distribución de productos alimenticios y de aseo para el hogar en la zona Norte del Valle y Quindío,
            contando con la exclusividad en la distribución de las marcas Águila roja y Pastas Nuria.<br><br>

            Nuestro portafolio de productos esta dirigido al canal tradicional y autoservicios, contando con una
            estructura logística propia y un recurso humano competente, que nos permite garantizar un servicio oportuno
            y de calidad, actuando con sana competencia, lealtad frente a nuestros clientes, proveedores y competidores,
            que nos garantiza la sostenibilidad del negocio.
        </p>
    </div>
</section>

<section class="galeria">
    <div class="contenedor">
        <h2 class="titulo">Nuestras instalaciones</h2>
        <article class="galeria-cont">
            <img src="assets/img/uno.jpg" alt="">
            <img src="assets/img/dos.jpg" alt="">
            <img src="assets/img/tres.jpg" alt="">
            <img src="assets/img/cuatro.jpg" alt="">
            <img src="assets/img/cinco.jpg" alt="">
            <img src="assets/img/seis.jpg" alt="">
        </article>
    </div>
</section>

<section class="wave-contenedor website">
    <div class="contenedor-textos-main">
        <h2 class="titulo left">Misión</h2>
        <p class="parrafo">CAFEPAS S.A.S es una empresa Vallecaucana con mas de 40 años de experiencia en la
            distribución de productos alimenticios y de aseo para el hogar en la zona Norte del Valle y Quindío,
            contando con la exclusividad en la distribución de las marcas Águila roja y Pastas Nuria.<br><br>

            Nuestro portafolio de productos esta dirigido al canal tradicional y autoservicios, contando con una
            estructura logística propia y un recurso humano competente, que nos permite garantizar un servicio oportuno
            y de calidad, actuando con sana competencia, lealtad frente a nuestros clientes, proveedores y
            competidores,que nos garantiza la sostenibilidad del negocio.
        <p>
    </div>
    <img src="assets/img/ilustracion6.svg" alt="">
</section>

<section class="wave-contenedor website">
    <img src="assets/img/ilustracion5.svg" alt="">
    <div class="contenedor-textos-main">
        <h2 class="titulo left">Visión</h2>
        <p class="parrafo">CAFEPAS S.A.S será en el año 2020 una empresa distribuidora líder de la región, con una alta
            cobertura de la marca AGUILA ROJA y PASTAS NURIA dentro de nuestra zona de cobertura y con un amplio
            portafolio de productos alimenticios de primera necesidad y aseo del hogar, generando con ello un nivel de
            composición en ventas generando el retorno esperado por los accionistas.<br><br>
            Consolidarse en el enfoque de Comercializadora fuerte en otras zonas a las señaladas como exclusivas,
            abarcar distribución a nivel departamental
        </p>
    </div>
</section>