<footer class="footer">
    <div class="footer__container container">
        <div class="footer__contact">
            <div class="footer__texts">
                <h4 class="title">¿Dónde estamos?</h4>
                <p class="footer__copy">Calle 50 No. 40 - 81 | A1 Parque Industrial Jakob Olivier <br> (+57) 318 351
                    3658 | Colombia, Tulua, Valle del Cauca</p>
                <div class="footer__social">
                    <a href="#" class="footer__link">
                        <img src="assets/img/bxl-facebook.svg" class="footer__icon">
                    </a>
                    <a href="#" class="footer__link">
                        <img src="assets/img/bxl-twitter.svg" class="footer__icon">
                    </a>
                    <a href="#" class="footer__link">
                        <img src="assets/img/bxl-youtube.svg" class="footer__icon">
                    </a>
                    <a href="#" class="footer__link">
                        <img src="assets/img/bxl-instagram.svg" class="footer__icon">
                    </a>
                </div>
            </div>
            <figure class="footer__picture">
                <img src="assets/img/Logo.png" class="footer__img">
            </figure>
        </div>
        <p class="footer__copyright">
            &copy; Uniremington | Norbey David Garcia</p>
    </div>
</footer>