<!-- <footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>
            <img src="/assets/img/Logo.png" width="80">  
            </h4>
                                      
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>                
            </ul>
        </div>
        <div class="content-foo">
            <h4> <br>Telefono</h4>
            <p>3183513658</p>
        </div>
        <div class="content-foo">
            <h4><br>Correo</h4>
            <p>cafepas@hotmail.com</p>
        </div>
        <div class="content-foo">
            <h4><br>Dirección</h4>
            <p>Calle 50 No. 40 - 81 <br> A1 Parque Industrial Jacob <br>Colombia, Tulua, Valle del Cauca</p>
        </div>        
    </div>
    <h2 class="titulo-final">&copy; Uniremington | Norbey David Garcia</h2>
</footer> -->
<section class="portada">

</section>

<footer class="footer">
   
    <div class="footer__container container">

        <div class="footer__contact">
            <div class="footer__texts">
                <h2 class="title">¿Donde estamos?</h2>
                <p class="footer__copy">(57) 318 351 3658 <br> Calle 50 No. 40 - 81 <br> A1 Parque Industrial Jacob <br>Colombia, Tulua, Valle del Cauca</p>

                <div class="footer__social">
                    <a href="#" class="footer__link">
                       <img src="assets/img/bxl-facebook.svg" class="footer__icon">
                    </a>
                    <a href="#" class="footer__link">
                       <img src="assets/img/bxl-twitter.svg" class="footer__icon">
                    </a>
                    <a href="#" class="footer__link">
                       <img src="assets/img/bxl-youtube.svg" class="footer__icon">
                    </a>
                    <a href="#" class="footer__link">
                       <img src="assets/img/bxl-instagram.svg" class="footer__icon">
                    </a>
                </div>
            </div>

            <figure class="footer__picture">
                <img src="assets/img/Logo.png" class="footer__img">
            </figure>
        </div>

        <p class="footer__copyright">
            &copy; Uniremington | Norbey David Garcia</p>

    </div>
</footer>