<div class="contenedor">
    <h2 class="titulo">Productos Alimenticios</h2>
    <div class="galeria-port">
        <div class="imagen-port">
            <img src="../../../assets/img/img1.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img2.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img3.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img4.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img5.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img6.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img7.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img8.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos Alimenticios</p>
            </div>
        </div>
    </div>
</div>

<section class="clientes">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
        <div class="card">
            <img src="assets/img/face1.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/img/face2.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>Name</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
            </div>
        </div>
    </div>
</section>

<div class="contenedor">
    <h2 class="titulo">Productos De Aseo</h2>
    <div class="galeria-port">
        <div class="imagen-port">
            <img src="../../../assets/img/img1.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img2.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img3.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img4.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img5.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img6.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img7.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
        <div class="imagen-port">
            <img src="../../../assets/img/img8.png" alt="">
            <div class="hover-galeria">
                <img src="../../../assets/img/icono1.png" alt="">
                <p>Productos De Aseo</p>
            </div>
        </div>
    </div>
</div>

