<section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestros Productos</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="../../../assets/img/ilustracion2.svg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span>Productos Alimenticios</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dignissimos nulla ut repudiandae
                praesentium sit suscipit vitae, earum magni soluta a consectetur sequi expedita mollitia quis,
                repellendus qui adipisci dolore.</p>
            <h3><span>2</span>Productos de Aseo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dignissimos nulla ut repudiandae
                praesentium sit suscipit vitae, earum magni soluta a consectetur sequi expedita mollitia quis,
                repellendus qui adipisci dolore.</p>
        </div>
    </div>
</section>

<section class="marcas">
    <div class="contenedor">
        <h2 class="titulo">Nuestras Marcas</h2>
        <div class="galeria-port">
            <div class="imagen-port">
                <img src="../../../assets/img/img1.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="../../../assets/img/img2.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="../../../assets/img/img3.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="../../../assets/img/img4.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="../../../assets/img/img5.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="../../../assets/img/img6.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="../../../assets/img/img7.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="../../../assets/img/img8.png" alt="">
                <div class="hover-galeria">
                    <img src="../../../assets/img/icono1.png" alt="">
                    <p>Nuestras marcas</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-services">
    <div class="contenedor">
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="servicio-cont">
            <div class="servicio-ind">
                <img src="../../../assets/img/ilustracion1.svg" alt="">
                <h3>Venta</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="servicio-ind">
                <img src="../../../assets/img/ilustracion3.svg" alt="">
                <h3>Distribucción</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

    </div>
</section>

<section class="efecto">
    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.28,146.55 C216.42,141.63 259.87,78.47 501.41,130.77 L500.00,150.00 L-1.97,153.47 Z"
                style="stroke: none; fill: #ded8c8;"></path>
        </svg></div>

</section>