<div class="contenedor">
    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">
            <h2 class="titulo">Completá el formulario para recibir más información</h2>
            <form action="">
                <p>
                    <input _ngcontent-dtm-c17="" size="1" type="text" name="form_fields[name]" id="form-field-name"
                        placeholder="Nombre" required="required" aria-required="true"
                        class="elementor-field elementor-size-sm elementor-field-textual">
                </p>
                <p>
                    <input size="1" type="text" name="form_fields[field_1]" id="form-field-field_1"
                        class="elementor-field elementor-size-sm elementor-field-textual" placeholder="Apellido"
                        required="required" aria-required="true">

                </p>
                <p>
                    <input size="1" type="email" name="form_fields[email]" id="form-field-email"
                        class="elementor-field elementor-size-sm elementor-field-textual" placeholder="Email"
                        required="required" aria-required="true">
                </p>
                <p>
                    <input size="1" type="tel" name="form_fields[field_6]" id="form-field-field_6"
                        class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Teléfono"
                        required="required" aria-required="true" pattern="[0-9()#&amp;+*-=.]+"
                        title="Only numbers and phone characters (#, -, *, etc) are accepted.">
                </p>
                <p>
                    <textarea class="elementor-field-textual elementor-field  elementor-size-sm"
                        name="form_fields[message]" id="form-field-message" rows="4" placeholder="Mensaje"></textarea>
                </p>
                <p>
                    <button>
                        Enviar
                    </button>
                </p>
            </form>
        </div>
        <div class="derecha">
            <h2>¿Dónde estamos ubicados?</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.7867410346016!2d-76.19746981305848!3d4.063841518209223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e39c43082ba0575%3A0xe75d2f25dae6d304!2sParque%20Industrial%20Jakob%20Olivier!5e0!3m2!1ses!2sco!4v1653688086502!5m2!1ses!2sco"
                    width="700" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>

</div>